window#osd {
  padding: 0px;
  border-radius: 5px;
  border: none;
  background: #181825;
}

window#osd #container {
  margin: 10px;
}

window#osd image,
window#osd label {
  color: #cba6f7;
}

window#osd progressbar:disabled,
window#osd image:disabled {
  opacity: 0.5;
}

window#osd progressbar {
  min-height: 20px;
  border-radius: 5px;
  background: transparent;
  border: none;
}

window#osd trough {
  min-height: inherit;
  border-radius: 5px;
  border: none;
  background: #313244;
}

window#osd progress {
  min-height: inherit;
  border-radius: 5px;
  border: none;
  background: #cba6f7;
}
