@define-color main_accent #cba6f7;
@define-color secondary_accent #89b4fa;

@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

* {
  font-family: "SpaceMono Nerd Font Propo";
  font-size: 97%;
}

window#waybar {
  background: @crust;
  border-radius: 0px;
  border: 1px solid @surface2;
}

tooltip {
  color: @text;
  background: @mantle;
  border-radius: 10px;
}

tooltip label {
  color: @text;
  padding-right: 2px;
  padding-left: 2px;
}

#custom-menu {
  color: @main_accent;
  font-size: 23px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 0px;
  padding-left: 0px;
}

#cpu,
#memory,
#temperature,
#disk,
#clock,
#battery {
  color: @text;
  padding-top: 5px;
  padding-bottom: 5px;
}

#clock {
  color: @text;
}

#workspaces button {
  color: @text;
  font-size: 13px;
  padding: 0px;
  margin: 2px 7px 2px 7px;
  border-radius: 20px;
}

#workspaces button:not(.active):hover {
  color: @text;
  background-color: @surface0;
}

#workspaces button.empty {
  color: @surface1;
}

#workspaces button.active {
  color: @mantle;
  background-color: @main_accent;
}

#workspaces button.visible {
  color: @text;
  background-color: @main_accent;
}

#workspaces button.urgent {
  color: @mantle;
  background-color: @error;
}

#temperature.critical {
  background-color: @error;
}

#custom-swaync,
#bluetooth,
#idle_inhibitor {
  color: @surface1;
}

#custom-swaync,
#custom-swaync.dnd-none,
#custom-swaync.dnd-inhibited-none {
  font-size: 11px;
  color: @surface1;
}

#custom-swaync.notification {
  color: @text;
}

#custom-swaync.inhibited-notification,
#custom-swaync.dnd-notification,
#custom-swaync.dnd-inhibited-notification {
  color: @text;
}

#bluetooth {
  font-size: 14px;
  padding: 1px 0px 0px 0px;
}

#bluetooth.connected {
  color: @text;
}

#idle_inhibitor {
  font-size: 15px;
  margin-bottom: 3px;
}

#idle_inhibitor.activated {
  color: @text;
}

#battery.icon {
  font-size: 20px;
}

#battery.critical:not(.charging) {
  color: @error;
}
