#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Jira
Exec=brave --app=https://sammhansen.atlassian.net/jira/projects
Icon=/home/tamara/.local/share/applications/icons/jira.png

