#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Claude AI
Exec=brave --app=https://claude.ai
Icon=/home/tamara/.local/share/applications/icons/chatgpt.png

